* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --footerSize: 50px;
}
/***** Grid Template *****/
#page {
  display: grid;
  grid-template-areas: "head head"
                       "main main"
                       "foot  foot";
  grid-template-columns: 150px 1fr;
  grid-template-rows: 150px;

  width: 100%;
}

/*******  header *********/

header {
  background-color: #222222;
  grid-area: head;
  position: fixed;
  width: 100%;
}
.menu li {
  color: #c7a790;
}
.logo img {
  display: block;
  margin: 0 auto;
}
.menu > ul {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 20px 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

.menu a {
  color: #c1a081;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  padding: 0 20px;
  text-decoration: none;
}
.menu a:active {
  /**
  color: blue;
  **/
}
.subMenu {
  display: none;
  list-style-type: none;
  padding-top: 20px;
  width: 145px;
}
.subMenu li {
  padding: 10px;
}
.subMenu a {
  padding: 0px;
}
.subMenu:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.menu li:hover .subMenu {
  background-color: #222222;
  display: block;
  position: absolute;
}
.subMenu li:hover {
    background: grey;
}
.menu li {
  margin: 0 15px;
}


/*** Main ***/
main {
  background-color: #222222;
  grid-area: main;
  padding-bottom: var(--footerSize);
}
p {
  padding-top: 50px;
}
.img {
  display: block;
  margin: 0 auto;
  padding-top: 61px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}
.contact {
  background-color: #cecdc9;
}
.contact ul {
  display: block;
  list-style: none;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}
.contact li {
  color: #222222;
}
.contact a {
  color: #222222;
  text-decoration: none;
}
.contact a:hover {
  color: #c1a081;
  text-decoration: underline;
}
.contact a:active {
  color: #cecdc9;
}
.bottle {
  color: #c7a790;
  font-family: 'Oxygen', sans-serif;
  margin-left: 287px;
  margin-right: 275px;
  padding-bottom: 140px;
  padding-top: 140px;
}
.list1 {
  list-style-type: none;
}
.list2 {
  list-style-type: none;
  padding-top: 50px;
}
.restrictions {
  padding-top: 50px;
}



/***** Slider *****/

.slider {
    list-style-type: none;
    margin: 0 auto;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}
.slide {
    display: none;
}

.visible {
    display: block;
}

/***** Footer *****/
footer {
  background-color: #222222;
  bottom: 0;
  grid-area: foot;
  height: var(--footerSize);
  position: fixed;
  width: 100%;
}
footer nav {
  margin-bottom: 15px;
  margin-top: 15px;
}
footer li {
  display: inline-block;
  margin-right: 10px;
}
footer a {
  color: #c1a081;
  padding: 10px;
  text-decoration: none;
}
footer a:hover,
.grid a:hover {
  text-decoration: underline;
}
footer a:active {
  color: blue;
}
footer ul:first-of-type {
  float: right;
  margin-right: 10px;
}
.fab {
  font-size: 25px;
  margin-left: 20px;
}
